doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet" href="bootstrap-css/css/bootstrap.css")
    link(rel="stylesheet" href="css/stylesheet.css")
    title Registration Form
body 
    .container-fluid.form-style
        .header-container
            h3.header Student Registration Form
        form(action='' name="registration" method="POST" onsubmit= "return applicationForm(event)")
            .input-style
                .row
                    .col-8
                        .input-style
                            label(for='') Surname
                            input#surname.form-control(type='text' name="surname")
                            small#surnameError 
                        .input-style
                            label(for='') Given Name
                            small.asterisk *
                            input#givename.form-control(type='text' name="givename")
                            small#givenameError
                        .input-style
                            label(for='') Title
                            small.asterisk *
                            select#title.form-control(type='text' name="title")
                                option(value="selecttitle") --Select Title---
                                option(value="Mr") Mr.
                                option(value="Mr") Mrs.
                                option(value="Mr") Miss.
                                option(value="Mr") Dr.
                                option(value="Mr") Prof.
                                option(value="Mr") Eng.
                        small#titleError
                    .col 
                        input.box.form-control(type='text' name="imageupload") 
                        button.upload-btn(type="text") upload
                        small#givenameError
                .row
                    .input-style
                        .col
                            label(for='gender') Gender:
                            .radio#gender
                                input.radio#gender1(type='radio' name='gender'  value= 'Female')
                                span Female
                                input.radio#gender2(type='radio' name='gender' value= 'Male')
                                span Male
                .row
                    .input-style
                        .col
                            label(for='') Date of Birth
                            small.asterisk *
                            input#dateofbirth.form-control(type='Date' name="dateofbirth")
                            small#dateofbirthError
                    .col
                        label(for='') Country
                        small.asterisk *
                        select#country.form-control(type='text' name="country")
                            option(value="selecttitle") --Select Country---
                            option(value="Uganda") Uganda
                            option(value="kenya") kenya
                            option(value="Tanzania") Tanzania"
                            option(value="Burundi") Burundi

                .row
                    .col
                        label(for='') Place of Residency
                        small.asterisk *
                        input#placeofresidency.form-control(type='text' name="placeofresidency")
                        small#placeofresidencyError
                .row
                    .col
                        label(for='') Nationality
                        small.asterisk *
                        input#nationality.form-control(type='text' name="nationality")
                        small#nationalityError
            hr
            .submit-btn 
                button(type=submit) Register  
    script(src="js/form-validation.js") 

