# Add files and directories you want to ignore
Yogesh_Lakhani/refactory_student_registration/node_modules
Yogesh_Lakhani/refactory_student_registration/index.html
/Alinda_Byamukama/digitize_registration/node_modules
/mukulembezewilfred/refactorystudentinfosys/node_modules
