* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.9rem;
  box-sizing: border-box;
}

body {
  background-color: white;
  /* background-image: url("/images/dbg1.webp"); */
}

.dash_title {
  margin-top: 20px;
  margin-bottom: 40px;
  border: 1 solid rgb(92, 90, 90);
  box-shadow: 10px 10px 10px 10px slategrey;
  border-radius: 0 20px 0 20px;
  /* padding-left: 3rem; */
}

.dash_left {
  padding-left: 40px;
  background-color: rgb(26, 49, 83);
  color: white;
  /* height: 300px; */
}

.footerxmargin {
  margin-top: 400px;
}

.center-div {
  display:flex;
  align-items: center;
  justify-content: center;
}

.my-footer {
  height:80px;
  background-color: rgb(2, 2, 58);
  color:grey;
}

.table2-cell {
  padding-left: 2rem;
}

.one-centered-div {
  width: 50%;
  margin: auto;
  /* padding-left: 40px; */
  background-color: rgb(203, 219, 243);
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;
}

.frmelement {
  margin-bottom: 1rem;
}

.input-field {
  width: 270px;
  height: 30px;
  background-color: rgba(233, 229, 229, 0.814);
  border:0;
  border-radius: 0 10px 0 0px;
  box-shadow: 3px 5px 5px 3px slategrey;
  align-items:center;
  margin-left: auto;
  margin-right:auto;
}

.input-field:hover {
  box-shadow: none;
  background-color: rgb(235, 240, 250);
}

.input-field:focus {
  outline:none;
  background-color: white;
}

#this-btn {
  background-color: rgb(4, 6, 59);
  color: white;
  width: 50%;
  height: 30px;
  border: 0;
  border-radius: 0 10px 0 10px;
  margin-left: auto;
  margin-right: auto;
  display:block;
  text-align: center;
}

#this-btn:hover {
  background-color: #5fb95e;
}

.regfrmborderao {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1 solid rgb(92, 90, 90);
  box-shadow: 10px 20px 20px 10px slategrey;
  border-radius: 0 20px 0 20px;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 450px;
  /* background-image: url("/images/dbg1.webp"); */
}