body {
    background: rgb(236, 174, 236);
}

.register {
    background: rgb(251, 249, 249);
    width: 800px;
    height: auto;
    margin: 0 auto;
    padding: 3% 5%;
}

.image {
    width: 250px;
    height: 180px;
    background:rgb(236, 174, 236)
}

#image_div {
    position: absolute;
    left: 0;
}

.reg_form {
    position: relative;
}