doctype html
head
  title Student Reg
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS v5.2.1
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
.container
  form.form.border(action='/register' method='post' onsubmit='return formValidate(event);')
    h1 Student Registration
    .row
      .col
        h6 Sur Name
        input#surname(type='text' placeholder='Enter Surname')
        small#surNameError
        h6 Given Name
        input#givenname(type='text' placeholder='Enter Given Name')
        small#givenNameError
        h6 Title
        input#title(type='text' placeholder='Title')
        small#titleError
      .col
        textarea(name='' id='' cols='30' rows='10')
    h5 Gender
    .row.border.m-3
      .col
        input#male(type='radio')
        |  Male
        small#maleError
      .col
        input#female(type='radio')
        |  Female
        small#femaleError
    .row.border.m-3
      .col
        label(for='') Date of Birth
        input#dob(type='date')
        small#dobError
      .col
        label(for='') Country
        input#country(type='country')
        small#countryError
    div
      h6 Place of Residence
      input#por(type='text')
      small#porError
    div
      h6 Nationality
      input#nationality(type='text')
      small#nationalityError
    hr
    button.btn.btn-primary(type='submit') Register
script(src='./js/validate.js')
