meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Student Registration Form
link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi", crossorigin="anonymous")
link(rel="stylesheet", href="./css/main.css")
nav.navbar.navbar-expand-lg
  .container
    a.navbar-brand(href="#") 
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarScroll", aria-controls="navbarScroll", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarScroll
      ul.navbar-nav.ms-auto.my-2.my-lg-0(style="--bs-scroll-height: 100px;")
        li.nav-item
          a.nav-link(href="#")
        li.nav-item
          a.nav-link(href="#") 
        li.nav-item
          a.nav-link(href="#") 
section#form
  .container.justify-content-center
    h3.h3class Student Registration Form
    form.row-g-3.needs-validation(action="/register" method="POST" novalidate)
      .row
        .col-3
          label.form-label(for="surName") Surname
          input.form-control#firstName(type="text", name="surName" required)
          .invalid-feedback.
             | Invalid Field!
          .valid-feedback.          
                   
        .col-3
          label.form-label(for="givenName") Given Name
          input.form-control#lastName(type="text",name="givenName" required)
          .invalid-feedback.
             | Invalid Field!
          .valid-feedback.
             
        .col-3
           label.form-label(for="Title") Title
           select#role.form-select(name="title")
              option(selected) Choose...
              option(value="Ms") Ms 
              option(value="Ms") Mr 
              option(value="Dr") Dr 
           .invalid-feedback.        
             | Invalid Field!           
           .valid-feedback.            
                  
        .col-md-3
          label.form-label(for="studenttImage") Student Image
          input.form-control#productImage(type="file" name="studentImage" required height="150px" width="120px") 
          .invalid-feedback.
             | Select a photograph!
          .valid-feedback.          
      .row            
        .col-md-3
          .list-group-horizontal
           .form-check
            input.form-check-input#gender(type="radio", name="male")
            label.form-check-label(for="gender") Male
           .form-check  
            input.form-check-input#gender(type="radio", name="female")
            label.form-check-label(for="gender").
             Female 
            .invalid-feedback.        
               | Gender must be Specified          
            .valid-feedback.            
               | Well done!           
        .col-md-3
          label.form-label(for="dateofBirth") Date of Birth
          input.form-control#dateOfBirth(type="date" name="dateOfBirth") 
          .invalid-feedback.        
             | Select Date of Birth!           
          .valid-feedback.            
             | Well done!
        .col-md-3
          label.form-label(for="country") Country
          select#Gender.form-select(name="country")
            option(selected) Choose...
            option Uganda
            option Kenya
            option Tanzania
            option Rwanda
            option Burundi
            .invalid-feedback.        
              | You Must Select Your Country Of Residence!           
            .valid-feedback.            
              
      .row
        .col-12
          label.form-label(for="placeOfResidence") Place of Residence
          input.form-control#placeOfResidence(type="text" name="placeOfResidence")
          .invalid-feedback.        
              | Invalid Field!           
          .valid-feedback.            
              | Well done!
       
        .col-12
          label.form-label(for="nationality") Nationality
          input.form-control(type="text" name="nationality" required)
          .invalid-feedback. 
             | Invalid Field!
          .valid-feedback.
             | Well done!                    
      .row
         .col-12.justify-contents-end
          button.btn.btn-dark(type="submit") Register  

script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3", crossorigin="anonymous")
script(src="/js/validate.js")