doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
        link(rel='stylesheet' href='../css/style.css')
        title Student registration form
    body
        .container1
            .container2
                .h3.heading Student Registration Form
                form.row.g-3.form.needs-validation(novalidate='' action="/registrationForm" method='post')
                    .row
                        .col-7
                            .row
                                .col-12
                                    label.form-label(for='validationCustom01') Sur name
                                    input#validationCustom01.form-control(type='text' required='' name='surname' pattern="[a-zA-Z]+")
                                    .invalid-feedback
                                        | Invalid Field!
                            .row
                                .col-12
                                    label.form-label(for='validationCustom02') Given name
                                    input#validationCustom02.form-control(type='text' required='' name='givenName')
                                    .invalid-feedback
                                        | Invalid Field!
                        .row.container3
                            input#inputGroupFile04.form-control(type='file' aria-describedby='inputGroupFileAddon04' aria-label='Upload' required='')
                    .row.title-row
                        .col-6
                            label.form-label(for='validationCustomUsername') Title
                            select.form-select(aria-label='Default select example' name='title' type='text' required='')
                                option(selected='') 
                                option(value='mr')  Mr.
                                option(value='mrs') Mrs.
                                option(value='miss') Miss
                                option(value='dr')  Dr.
                                option(value='prof')  Prof.
                                option(value='eng') Eng.
                            .invalid-feedback
                                | Please select one option.
                        .col-5 
                            .input-group.pic-select
                                button#inputGroupFileAddon04.btn.btn-outline-secondary(type='button') Button
                        
                    .row 
                        .col-12
                            label.form-label Gender
                            br
                            .container.form-control 
                                input#inlineRadio1.form-check-input.gender-rd(type='radio' name='gender' value='option1')
                                label.form-check-label(for='inlineRadio1') Male
                                    .form-check.form-check-inline
                                input#inlineRadio2.form-check-input.gender-rd(type='radio' name='inlineRadioOptions' value='option2')
                                label.form-check-label(for='inlineRadio2') Female
                                    .form-check.form-check-inline
                            .invalid-feedback
                                | Gender Must be specified!
                    .row 
                        .col-6
                            - const today = new Date()
                            - const year = today.getFullYear()
                            - const maximum = year - 18
                            - const minimum = year - 65
                            label.form-label(for='validationCustom05') Date of birth
                            input#validationCustom05.form-control(type='date' required='' name='dob' pattern='', max=maximum+'-12-31', min=minimum+'-12-31')
                            .invalid-feedback
                                | Select Date of birth!
                        .col-6
                            label.form-label(for='validationCustomUsername') Country
                            select.form-select(aria-label='Default select example' type='text' required='' name='country')
                                option(selected='') 
                                option(value='uganda')  Uganda
                                option(value='kenya') Kenya
                                option(value='tanzania') Tanzania
                                option(value='rwanda')  Rwanda
                                option(value='burundi')  Burundi
                            .invalid-feedback
                                | You Must Select your Country of Residence!
                    .row
                        .col-12
                            label.form-label(for='validationCustom01') Place of Residence
                            input#validationCustom01.form-control(type='text' required='' name='residence')
                            .invalid-feedback
                                | Invalid Field!
                    .row
                        .col-12
                            label.form-label(for='validationCustom02') Nationality
                            input#validationCustom02.form-control(type='text' required='' name='nationality')
                            .invalid-feedback
                                | Invalid Field!


                    .d-grid.gap-2.d-md-flex.justify-content-md-end
                        button.btn.btn-primary(type='submit') Register 
                        
script(src='/js/validate.js')
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")