extends layout 
block content
  .container-fluid
        .row
          .col-md-12.dash_title
            nav.navbar.navbar-expand-lg.bg-light
                .container-fluid
                  a.navbar-brand(href='/index' target='_blank')
                    //- img.img2(src='/images/logo.png')
                    a.nav-link.active(aria-current='page', href='/index' target="_blank") Home &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    a.nav-link.active(aria-current='page', href='/index' target="_blank") Products &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    a.nav-link.active(aria-current='page', href='/index' target="_blank") About us &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.me-auto.mb-2.mb-lg-0
                      li.nav-item
                        h4 Company Name here? ➨ #{farmerBizName}
                    .d-flex(role='search')
                      form(method='POST' action='/logout')
                        button.btn.btn-outline-success(type='submit') Logout
          //- .col-md-3.dash_left 
          //-   br
          //-   br
          .col-md-12.one-centered-div 
            p This is one centered <div>
            br
            br